/* logo */
.row1{
  text-align: center;
}
.logo{
  margin: 0 auto;
  display: block;
  width: 200px;
  margin-bottom: 45px;
}

/* nav bar */
.nav_bar{
  text-align: center;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row2{
  color: grey;
  font-size: 13px;
  display: inline-block;
  padding: -15px;
  margin: 0 auto;
  width: 120px;
  border-right: 1px solid black;
  border-color: grey;
  position: relative;
}
.nav_content_top{
  height: 15px;
}
.multi_med_brdr{
  border-right: none;
}
a:link{
  text-decoration: none;
  color: grey;
}
a:visited{
  color: grey;
}

/* main img */
.row3{

}
.main_img_size{
  width: 100%;
}

/* nav bar mid for main img */
.nav_bar_middle{
  text-align: center;
}
.row4{
  color: grey;
  font-size: 11px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  width: 165px;
}

/* news and events ticker box */
.row5_container{
  text-align: center;
}
.news_events_box{

}
.news_events_ticker{

}
.row5{
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
a.news_events_black:link{
  text-decoration: none;
  color: black;
}
a.news_events_black:visited{
  color: black;
}

/* content link boxes */
.content_links{
  text-align: center;
  padding-bottom: 60px;
}
.row6{
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 14px;
  padding-right: 14px;
}
a.heading:link{
  text-decoration: none;
  color: black;
}
a.heading:visited{
  color: black;
}
.desc{
  font-size: 14px;
}

/* nav bar bottom */
.nav_bar_bttm_container{
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
}
.nav_bttm_div{
  padding-right: 10px;
}
a.nav_bar_bttm:link{
  color: grey;
}
a.nav_bar_bttm:visited{
  color: grey;
}
.nav_bar_bttm_left{
  /* text-align: center; */
  font-size: 12px;
  text-align: left;
  float: left;
}
.nav_bar_bttm_right{
  font-size: 12px;
  text-align: right;
  float: right;
}
.row7{
  display: inline-block;
}
.glyph_size{
  width: 20px;
  height: 20px;
}

/* footer */
.footer{
  text-align: center;
}
.row8{
  color: grey;
  font-size: 12px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
}

/* responsive */
@media screen and (max-width: 767px){
  .nav_bar{
    display: none !important;
  }
}
@media screen and (max-width: 1170px){
  .nav_bar_middle{
    /* display: none; */
  }
  .nav_bar_middle div a{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border: 1px solid black;
  }
  .nav_bar_middle div a p{
    display: none !important;
  }
  .nav_bar_middle div{
    width: 26.8px;
  }
}
@media screen and (max width: 1200px){
  .content_links{
    
  }
}
